main {

background: #83a4d4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.body{
width: 100%;
padding-right: auto;
padding-left: auto;
margin-right: auto;
margin-left: auto;
font-size: 1.8rem;
font-family: 'Oswald', sans-serif;
}

h5, p, a {
font-family: 'Oswald', sans-serif;
}











