<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Crear Adopción</span>
                    <form class="mt-3" [formGroup]="adopcionForm" (ngSubmit)="crearAdopcion()">
                        <div class="mb-3">
                            <input type="text" formControlName="nombre"
                            class="form-control form-control-lg" 
                            placeholder="Nombre">
                            <div class="text-danger"
                                *ngIf="adopcionForm.get('Nombre')?.hasError('required') && adopcionForm.get('nombre')?.touched">
                                <span>El nombre del animal <strong>es obligatorio</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">
                            <input type="text" formControlName="Especie"
                            class="form-control form-control-lg" 
                            placeholder="Especie">
                            <div class="text-danger"
                                *ngIf="adopcionForm.get('Especie')?.hasError('required') && adopcionForm.get('Especie')?.touched">
                                <span>La especie <strong>es obligatoria</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">
                            <input type="text" formControlName="genero"
                            class="form-control form-control-lg" 
                            placeholder="Género">
                            <div class="text-danger"
                                *ngIf="adopcionForm.get('Género')?.hasError('required') && adopcionForm.get('Género')?.touched">
                                <span>El Género <strong>es obligatorio</strong></span>
                            </div>
                          </div>
                         <div class="mb-3">
                             <button routerLink="/" class="btn btn-secondary btn-lg float-start">Volver</button>
                             <button type="submit" [disabled]="adopcionForm.invalid" class="btn btn-success btn-lg float-end">Aceptar</button>
                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
